@import "./Variable.scss";

.btn {
  padding: 14px 22px;
  font-family: inherit;
  font-size: 15px !important;
  font-family: inherit;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.2s all ease-in-out;

  &:focus {
    outline-offset: 2px;
    outline: 3px solid $primary-color;
  }
}

@media screen and (max-width: 500px) {
  .btn {
    cursor: default;
  }
}
