@import "./Variable.scss";
.card {
  width: 100%;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);

  .cardWrapper {
    color: $primary-color !important;
    padding: 15px 25px 0px 25px;
    border-radius: 5px;
    text-align: left;
    overflow: hidden;
    .header {
      p {
        font-family: "Fira Code", monospace;
        font-size: 14px;
        color: rgb(177, 118, 255);
      }
      h3 {
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 10px;
        font-family: "Fira Code", monospace;
      }
    }
    .cardBody {
      p {
        font-size: 15px;
        line-height: 21px !important;
      }

      .goButton {
        float: right;
        padding: 15px 0px;
        font-size: 20px;
        color: black;
        margin-bottom: -8px;
      }
    }
  }

  &:hover {
    outline-offset: 3px;
    outline: 2px solid rgb(161, 118, 254);
  }
}
