@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

@import "./Variable.scss";

html,
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif, "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}

.container {
  max-width: 1300px;
  padding: 0px 15px;
  margin: 0px auto;
}
.title {
  font-size: 50px;
}

a {
  text-decoration: none;
  color: rgb(98, 98, 98);
}

/* Button Types */

.sm-button {
  font-size: 15px !important;
  background-color: #3e39be;
  height: 45px;
  border-radius: 50px;
  margin-top: 5px;
  a {
    color: white !important;
  }
}

.red {
  background-color: #c2303f;
}
.fill {
  background-color: $primary-color;
  color: #fff;

  &:hover {
    background-color: $primary-color-hover;
  }
  &:active,
  &:focus {
    background-color: $primary-color-hover;
  }
}
.dark-fill {
  background-color: #fff5e6;
  color: black;

  &:hover {
    background-color: yellow;
    outline-offset: 3px;
    outline: 2px solid yellow;
  }
}

.outline {
  color: white;
  background-color: $primary-color;

  &:hover {
    background-color: $primary-color-hover;
  }
  &:active,
  &:focus {
    outline-color: #743fc7 !important;
  }
}

.two-col-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.disabledButton {
  opacity: 0.6;
  outline: none !important;
  cursor: not-allowed !important;
}

.error {
  color: red !important;
  margin-bottom: 0px !important;
  font-size: 14px !important;
  text-align: left !important;
  padding-top: 5px !important;
}
.success {
  color: green !important;
  margin-bottom: 0px !important;
  font-size: 14px !important;
  text-align: left !important;
  padding-top: 5px !important;
}

.activeTab {
  background-color: rgba(127, 172, 209, 0.237);
}

.bgBlue {
  background-color: rgb(0, 51, 132) !important;
  color: #fff !important;
}
