@import "./Variable.scss";
.hero {
  // background-color: #ffffff;
  background-image: radial-gradient(
      circle at 12% 55%,
      rgba(33, 150, 243, 0.15),
      hsla(0, 0%, 100%, 0) 25%
    ),
    radial-gradient(
      circle at 85% 33%,
      rgba(108, 99, 255, 0.175),
      hsla(0, 0%, 100%, 0) 25%
    );
  padding: 100px 0px;
  margin-top: -60px;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    .content {
      h1 {
        font-size: 55px;
        margin-bottom: 25px;
        font-weight: 800;
        max-width: 600px;
      }

      p {
        font-size: 18px;
        line-height: 30px;
        margin: 15px 0px;
        max-width: 600px;
      }

      .buttonWrapper {
        display: flex;
        flex-direction: flex-start;
        gap: 10px;
      }
    }
    .heroImage {
      width: 500px;
      height: 500px;
      position: relative;
    }
  }
}

.whatIsWrapper {
  background-color: rgb(227, 192, 255);
  padding: 50px 0px;
  .whatIsSection {
    padding: 35px 0px;
    text-align: center;
    // color: rgb(255, 255, 255);

    .exploreButton {
      margin-top: 30px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      display: inline-block;
    }

    h2 {
      font-size: 35px;
      font-weight: 800;
      margin-bottom: 8px;
    }
    p {
      font-size: 20px;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      line-height: 30px;
    }
  }
}
.courseWrapper {
  background-color: $primary-color-hover;
  .coursesSection {
    padding: 35px 0px;
    text-align: center;
    color: rgb(255, 255, 255);

    .exploreButton {
      margin-top: 30px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      display: inline-block;
    }

    h2 {
      font-size: 35px;
      font-weight: 800;
      margin-bottom: 8px;
    }

    p {
      font-size: 16px;
      line-height: 30px;
    }

    .courseTabs {
      margin-top: 12px;

      ul {
        width: fit-content;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        gap: 10px;
        background-color: rgba(0, 0, 0, 0.173);
        border: 2px solid rgb(161, 118, 254);
        padding: 10px 12px;
        border-radius: 50px;

        li {
          list-style: none;
          padding: 8px 15px;
          border-radius: 50px;
          cursor: pointer;
          font-size: 15px;

          &:hover {
            background-color: rgba(240, 255, 255, 0.132);
          }
        }
      }
    }
    .cardContainer {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      gap: 15px;
      align-content: stretch;
    }
  }
}
